<div class="container">
  <h3>以下の学んだものを利用してTwitterクローンを作成しました</h3>
    <ul class="row">
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "html5css3js_01.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "jquery-logo-001.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "ruby-logo-001.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "Ruby_on_Rails-logo.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "preview-postgresql-2013-01-28.jpg" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "Bootstrap_logo.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "github-logo-002.png" %></li>
      <li class="hidden-xs hidden-sm col-md-3"><%= image_tag "heroku-logo-002.png" %></li>
      <li class="hidden-md hidden-lg col-xs-12"><%= image_tag "twitter-logo-001.png" %></li>
    </ul>
</div>
