<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if logged_in? %>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'つぶやき一覧', blogs_path %></li>
                <li><%= link_to '新規作成', new_blog_path %></li>
                <li><%= link_to "Profile", user_path(current_user.id) %></li>
                <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
              </ul>
            </div>
          </div>
        </nav>
    <% else %>
      <h3>
        <%= link_to "Sign up", top_users_path %>
        <%= link_to "Login", new_session_path %>
    </h3>
    <% end %>

    <%= yield %>

    <footer>
      <p>PHASE2大課題 TwitterClone作成 小汀一宏</p>
    </footer>

  </body>
</html>
